<article class="panel">
  <div class="panel-header panel-header-chart">
    <h3><%= title %></h3>
    <% if (subtitle) { %><p><%= subtitle %></p><% } %>
  </div>
  <div class="chart" data-chart='<%- JSON.stringify(data) %>' data-chart-type="<%= type %>"></div>
</article>
